{{define "layout"}}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Todo</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <div class="container m-auto flex min-h-screen flex-col">
    <header>
      {{template "navbar"}}
    </header>
    <main class="grow my-8">
      {{template "content" .}}
    </main>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>

</html>
{{end}}