{{define "navbar"}}
<div class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="shrink-0 flex items-center">
          <a href="/" class="text-xl font-bold text-blue-600">TODO</a>
        </div>
      </div>
      <div class="flex items-center">
        <a href="/logout"
          class="ml-4 bg-blue-600 text-white px-4 py-2 rounded-md text-sm font-medium hover:bg-blue-700">ログアウト</a>
      </div>
    </div>
  </div>
</div>
{{end}}